.form {
    display: flex;
    margin: 0 0 16px;
}

.select {
    display: block;
    min-width: 256px;
    margin-right: 16px;
    padding: 8px 12px;
    font-size: 18px;
    border: 2px solid var(--color-grey);
}

.select:hover,
.select:focus {
    border-color: var(--color-blue);
    outline: 0;
}

.button {
    padding: 8px 32px;
    color: var(--color-white);
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    background: var(--color-blue);
    border: 0;
    cursor: pointer;
}

.button:hover {
    background: var(--color-blue-darken);
}

.button:disabled {
    background: var(--color-grey);
    color: var(--color-dark-grey);
    cursor: not-allowed;
}
